html {
    position: relative;
    min-height: 100%; }
  
  body {
    background-color: #370541;
    margin-bottom: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

  h1 {
    color: #f3f738;
    border-color: #160a01;
    font-size: 5em;
     }
  
  .sound {
    background-color:#1f3852;
    color: #f3f738;
    border-color: #f3f738;
    border: 1px solid; }
    .sound:hover {
      background-color:#1f3852;
      border-color: #f3f738;
      color: #f3f738; }